<div class="profile-container">
	<div class="profile-wrapper">
		<h1 class="profile-title">Create a new Profile</h1>
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 profile-column">
				<%= form_for @profile do |f| %>
				<fieldset>
					<h1 class="profile-form-title">Profile Information</h1>
					<div class="profile-field">
						<%= f.text_field :first_name, autofocus: true, :placeholder => "First Name"  %>
					</div>
					<div class="profile-field">
						<%= f.text_field :last_name, autofocus: true, :placeholder => "Last Name" %>
					</div>
				</fieldset>
			</div>
		</div>
		<div class="create-profile">
			<%= f.submit :value => "Create Profile" %>
			<% end %>
		</div>
	</div>
</div>