<div class="about-container">
	<div class="about-hero">
		<div class="about-title">
			WELCOME TO TASTY<span class="R">R</span>
		</div>
	</div>
	<div class="about-content-wrapper">
		<div class="content-hero">
			<h1>THE STO<span class="R">R</span>Y</h1>
		</div>
		<div class="content-container">
			<p>
				Have you ever tried to plan your meals for the week and realized that you end up buying the same main ingredients (Chicken, Pork, Pasta, etc.)? Has it crossed your mind that you make the same meals, week in and week out? Do you feel like you're in a 'food rut'?
			</p>
			<p>
				If this sounds like you, then you've come to the right place! <span class"name">TASTY</span><span class="R">R</span> was created to help get the self proclaimed, in-home, 'top-chef' get out of the weekly food routine.
			</p>
			<p>
				The inspiration for <span class"name">TASTY</span><span class="R">R</span> came from two friends throwing around the question, 'Why hasn't someone invented an application that allows you to find recipes, taking into account allergies and diets, without having to search through countless recipes and in-depth preparation lists just to get the ingredients of something new and delicious?'
			</p>
			<p>
				<span class"name">TASTY</span><span class="R">R</span> does just that! It allows you to choose the same main ingredients you love, but discover new ways to make delicious dishes!
			</p>
		</div>
		<div class="content-hero">
			<h1>HOW IT WO<span class="R">R</span>KS</h1>
		</div>
		<div class="content-container">
			<p>
				So now that you know the story behind <span class"name">TASTY</span><span class="R">R</span>, how does it work?
			</p>
			<p>
				<span class"name">TASTY</span><span class="R">R</span> has over a million recipes to choose from through <a class="source" href="http://www.yummly.com" target="_blank">Yummly</a> &amp; <a class="source" href="http://www.food2fork.com" target="_blank">Food2Fork</a> and offers registered users the ability to search for meals while taking into account any allergy or dietary restrictions!
			</p>
			<p>
				With two search options, simple search &amp; dashboard planning, the user has endless ways to search for recipes and plan the weeks meals. On the <span class"name">TASTY</span><span class="R">R</span> dashboard, you will have the opportunity to choose from pre-selected main ingredients or search for specific ones of interest. The recipes will have it's ingredients listed out so you will be able to know exactly what you already have and what needs to be purchased on your next trip to the store.
			</p>
			<p>
				Don't let your weekly meals continue disappoint by keeping you in a 'food rut'. Take control of your meals and create the <span class"name">TASTY</span><span class="R">R</span> dishes you deserve!
			</p>
		</div>
	</div>
</div>