<main>
	<div class="home-container">
		<div class="home-hero-container">
			<div class="home-hero">
				<div class="home-hero-wrapper">
					<h1 class="hero-title">A TASTY<span class="R">R</span> WAY TO COOK</h1>
				</div>
			</div>
			<h4 class="search-title">WHAT TYPE OF MEAL ARE YOU CRAVING?</h4>
		</div>
		<div class="home-search-container">
			<div class="row">
				<a>
					<div class="col-lg-4 col-md-4 col-sm-4 search-container-1">
						CHICKEN
					</div>
				</a>
				<a>
					<div class="col-lg-4 col-md-4 col-sm-4 search-container-2">
						BEEF
					</div>
				</a>
				<a>
					<div class="col-lg-4 col-md-4 col-sm-4 search-container-3">PORK
					</div>
				</a>
			</div>
			<div class="row">
				<a>
					<div class="col-lg-4 col-md-4 col-sm-4 search-container-4">FISH
					</div>
				</a>
				<a>
					<div class="col-lg-4 col-md-4 col-sm-4 search-container-5">PASTA
					</div>
				</a>
				<a>
					<div class="col-lg-4 col-md-4 col-sm-4 search-container-6">VEGETABLE
					</div>
				</a>
			</div>
		</div>
	</div>
</main>
