@import "application.sass"

.profile-container
	z-index: 10000
	width: 100%
	min-height: 100vh
	background-color: $carbon
	color: $white
	text-align: center
	font-size: 12pt
	background-color: rgba(0, 0, 0, .1)

.new-profile-container
	z-index: 10000
	position: fixed
	width: 100%
	min-height: 100vh
	background-color: $carbon
	color: $white
	text-align: center
	font-size: 12pt

.profile-wrapper
	width: 75%
	margin-left: 12.5%
	color: $white
	padding-top: 100px

.profile-column
	text-align: center
	font-size: 1em
	width: 100%

.profile-title
	font-family: NexaRust
	font-size: 1.75em
	color: $orange

.profile-form-title
	color: $white
	text-align: center
	padding: 15px 0px
	font-family: ArchivoBold
	border-bottom: 1px solid $teal

.profile-field
	padding: 15px 0px
	color: $carbon
	text-align: center

.profile-field > div
	color: $white

.profile-info
	font-size: 1.5em
	padding: 0px 25px

.allergy-info > a
	font-size: .75em
	color: $white

.allergy-container
	margin-bottom: 30px

.remove-fields
	margin: 8px 0px

.profile-radio-field
	padding: 3px 0px 3px 40%
	text-align: left

.profile-allergies-container
	width: 100%

.profile-allergies-wrapper
	margin-left: 25%
	width: 50%
	margin-top: 35px

.allergy-field
	float: left
	color: $white
	text-align: center
	padding-bottom: 20px

.create-profile
	background-color: rgba(0, 0, 0, 0)
	color: $white
	padding: 5px 25px
	font-size: 1.5em

.create-profile > input, .create-profile > form > input
	background-color: rgba(0, 0, 0, 0)
	color: $white
	padding: 5px 25px

.create-profile > input:hover, .create-profile > form > input:hover
	background-color: $teal
	color: $white
	-webkit-transition: background-color .2s ease-out
	-moz-transition: background-color .2s ease-out
	-ms-transition: background-color .2s ease-out
	transition: background-color .2s ease-out

.update-profile
	margin: 15px 0px

.profile-show
	color: $white
	text-align: center

.allergies-button
	margin: 25px 0px

.edit-button
	padding: 5px 10px
	background-color: $teal
	color: $white
	text-align: center
	margin-top: 100px

.edit-button:hover
	border: 1px solid $white
	color: $white

ul
	list-style: none

.button-container
	padding: 50px



/* Media Queries */

@media (max-width: 992px)

	.profile-container
		margin-top: 25px

	.profile-wrapper
		width: 75%
		margin-left: 12.5%
		padding-top: 75px

	.profile-title
		font-size: 1.5em

	.profile-form-title
		font-size: 1.25em

	.profile-field
		font-size: .75em
		padding: 20px 0px 30px 0px

	.profile-info
		font-size: 1.15em

	.profile-allergies-wrapper
		margin-left: 12.5%
		width: 75%

	.allergy-field
		float: left
		width: 50%

	.remove-fields
		margin: 0px 0px

	.allergies-button




